.intro__title { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
    margin: 0;
    padding: 0;    
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px){ 
    .intro__title{
        font-size: 32px;
        line-height: 1.09;
        width: 250px;
    }
}