.header__lang-link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    text-decoration: none;
}
.header__lang-link:hover {
    cursor: url(../../../images/cursor.png), auto;
}

.header__lang-link:last-of-type {
    margin-left: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .header__lang-link {
        font-size: 18px;
        line-height: 1.1;
    }
}