.page {
    width: 99vw;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2A2C2F;
    box-sizing: border-box;
    z-index: -1;
}
    
.header {
    margin: 0 auto;
    margin-top: 28px;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    display: inline-block;
}

.header__lang-links {
    display: inline-block;
}

.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
}

.header__lang-link:last-of-type {
    margin-left: 18px;
    text-decoration: none;
}

.lead {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 56px;
     
}

.lead__image {    
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.lead__title {
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    color: #FFFFFF;
    width: 720px;
    text-align: center;
}

.lead__subtitle {
    padding: 0;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 64px;
    width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;  
}
.lead__caption {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
}

.intro {
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
    margin-left: 148px;
    width: 55%;
    min-height: 429px;
    justify-content: flex-start;    
}

.intro__title {    
    margin: 0;
    padding: 0;
    margin-top: 92px;
    margin-bottom: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
}

.intro__text {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.intro__list {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
    list-style-type: none;    
}

.photo-grid {
    margin: 92px 48px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    grid-auto-flow: row;
    row-gap: 16px;
    column-gap: 30px;
}

.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.photo-grid__item:nth-child(-n+2) {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 

.places {
    width: 79%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    row-gap: 80px;
    column-gap: 65px;    
}

.place__image {
    width: 100%;    
    object-fit: cover;
}

.place__title {
    width: 85%;
    margin: 0;
    margin-bottom: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
}

.place__pharagraph {
    min-width: 484px;
    margin: 0;
    margin-top: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;   
    color: #FFFFFF;    
}
.place__pharagraph:last-child {
    margin-top: 26px;
}

.place__url-heading {
    margin: 0;
    margin-top: 26px;
    margin-bottom: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}
.place__url-heading_margin {
    margin-top: 106px;
}

.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 92px 48px;
    width: auto;
    min-height: 740px;
    background: url(./images/cover-trains.png) no-repeat center;
    background-size: cover;
    z-index: 0;
}

.cover__title {
    margin: 0 auto;
    width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    margin-bottom: 32px;
    text-decoration: none;
}

.cover__subtitle {
    margin: 0 auto;
    width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

.footer {
    width: 96%;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.footer__list {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
} 

.footer__list li {
    display: inline;
}
.footer__link {
    margin: 0;
    padding: 0;
    margin-right: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__copyright {
    margin: 0;
    padding: 0;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}

/* @media screen and (min-width: 1281px) {
    .place__pharagraph {
        font-size: 19px;
        line-height: 1.63;
    }
    .place__title {       
        font-size: 76px;
        line-height: 1.06;
    }
    .intro__title {
        font-size: 56px;
        line-height: 1.1;
    }
    .intro__text {
        font-size: 17px;
        line-height: 1.7;
    }
    .intro__list {
        font-size: 13px;
        line-height: 1.6;
    }
} */
     
